AZURE_SPEECH_RESOURCE_ID=/subscriptions/<subscription-id>/resourceGroups/<resource-group>/providers/Microsoft.CognitiveServices/accounts/<speech-account-name>
AZURE_SPEECH_ENDPOINT=https://<speech-account-name>.cognitiveservices.azure.com/
AZURE_SPEECH_REGION=westeurope
AZURE_TENANT_ID=<tenant-id>
DEMO_BASE_URL=https://localhost:9999